
# Django settings
# This will be auto generated a secure secret for production and keep it out of source control.
# If you use the reverse proxy it should be an enviorment variable in the runtime
# If you are using cloud hosting these should be set in the secret manager for the service

DJANGO_SECRET_KEY=
DJANGO_DEBUG=

# Cloud SQL settings (production only)
# If you are using Cloud Run with Cloud SQL, set these as enviorment variables
# CLOUD_SQL_CONNECTION should be set to your instance connection name (project:region:instance)
# DB_PASSWORD should be stored in secret manager

CLOUD_SQL_CONNECTION=
DB_NAME=
DB_USER=
DB_PASSWORD=